<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SRBI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SRBI.My.MySettings.PRAJO_DATABASEConnectionString"
            connectionString="Data Source=159.138.157.165;Initial Catalog=PRAJO_DATABASE;Persist Security Info=True;User ID=sa;Password=br@@dW1u2019507_sa"
            providerName="System.Data.SqlClient" />
        <add name="SRBI.My.MySettings.PRAMASTERDATABASEConnectionString"
            connectionString="Data Source=159.138.157.165;Initial Catalog=PRAMASTERDATABASE;User ID=sa;Password=br@@dW1u2019507_sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <SRBI.My.MySettings>
            <setting name="APP_VER2" serializeAs="String">
                <value>1.0</value>
            </setting>
        </SRBI.My.MySettings>
    </userSettings>
</configuration>